<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- servlets -->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>io.github.plizzzhealme.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!-- filters -->
    <filter>
        <filter-name>LocalizationFilter</filter-name>
        <filter-class>io.github.plizzzhealme.controller.filter.LocalizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignInFilter</filter-name>
        <filter-class>io.github.plizzzhealme.controller.filter.SignInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>io.github.plizzzhealme.controller.filter.CharsetFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>io.github.plizzzhealme.controller.filter.LoggerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LocalizationFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignInFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/controller</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <!-- listeners -->
    <listener>
        <listener-class>io.github.plizzzhealme.controller.listener.ControllerListener</listener-class>
    </listener>

    <display-name>Archetype Created Web Application</display-name>

    <!-- error pages -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/pageNotFound.jsp</location>
    </error-page>
</web-app>